h1 {
	color: crimson;
	text-shadow: 3px 2px black;

	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 92px;
	padding: 80px 50px;
	text-align: center;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}
h3{
	text-decoration-style: inherit;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 92px;
	padding: 80px 50px;
	text-align: center;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: auto;
	border: solid black;

}
body {
	text-align: center;
	background-image: url(https://i.imgflip.com/2e3c5w.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-size: large;
	font-weight: bold;
}
p {
	color: white;

}
